<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">{{title}}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="funny">r/funny</a></li>
      <li><a routerLink="woahdude">r/woahdude</a></li>
      <li><a routerLink="facepalm">r/facepalm</a></li>
      <li><a routerLink="worldnews">r/worldnews</a></li>
      <li><a routerLink="natureisfuckinglit">r/NatureIsFuckingLit</a></li>
      <li><a routerLink="MuckingFagical">r/MuckingFagical</a></li>
      <li><a routerLink="science">r/science</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>
  <h2>Check out the most recent posts by clicking any of the categories/sub-reddits above:</h2>
  <router-outlet></router-outlet>
</div>
